.content {
    max-width: 500px;
    margin: auto;
}

body {
    background-image: url("https://cdn.hipwallpaper.com/i/60/68/LNKcIn.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
<!-- just fooling around with css background immages and what not -->