<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Message List</h1>
<a href="/add">Add a Message</a><br />
<table>
    <tr>
        <th>Content</th>
        <th>Date</th>
        <th>SentBy</th>
    </tr>
    <tr th:each="message : ${messages}" >
        <td th:text="${message.content}"></td>
        <td th:text="${message.date}"></td>
        <td th:text="${message.sentBy}"></td>
        <td>
            <a th:href="@{/list/{id}(id=${message.id})}">list</a> -
            <a th:href="@{/update/{id}(id=${message.id})}">update</a> -
            <a th:href="@{/delete/{id}(id=${message.id})}">delete</a>
        </td></tr>
</table>
</body>
</html>